# Ignore another repositories
common

# Ignore deployment
deploy

# Ignore temporary files
*.o
*.elf

# Ignore old files
*.old

# Ignore hidden directorys
.obj
.ignore
.trash

# Ignore example files
*.example
example/toolbox
